.dart_main_slider {
  background-color: var(--dark-sidebar-bg-color);
  color: var(--dark-sidebar-color);
  padding: 0.5rem;
  min-height: 100vh;
  height: 100%;
}

.dark_sub_name {
  background-color: rgb(117, 103, 240);
  background-color: var(--item-bg-color);
  padding: 0.2rem 0.8rem;
  margin-left: 1rem;
  border-radius: 5px;
  border: 1px solid rgb(234, 243, 234);
}

.dark_sub_name:hover {
  background-color: rgb(49, 0, 128);
  background-color: green;
  color: rgb(137, 139, 233);
  border: 1px solid rgb(0, 255, 64);
}

.dark_main_element {
  cursor: pointer;
  background-color: rgb(137, 139, 233);
  background-color: var(--item-bg-color);
  border-radius: 5px;
  padding: 5px;
  border: 1px solid rgb(234, 243, 234);
  text-align: center;
}


.dark_main_element:hover {
  background-color: rgb(49, 0, 128);
  background-color: var(--item-hover-bg-color);
  color: rgb(137, 139, 233);
  border: 1px solid rgb(0, 255, 64);
}


.dart_mainbar {
  height: 2rem;
  background-color: var(--brand-bg-color);
  background-color: yellow;
  color: var(--brand-color);
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}