.main_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: 2px solid black;

}

.main_element {
  cursor: pointer;
  background-color: rgb(137, 139, 233);
  background-color: yellow;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  text-align: center;
}

.main_element:hover {
  background-color: yellow;
  background-color: var(--item-hover-bg-color);
  color: rgb(137, 139, 233);
  border: 1px solid rgb(0, 255, 64);
}

.side {
  flex: 0.20;
}

.content {
  flex: 0.80;
  min-height: 100vh;
  border: 1px solid var(--border-color);
  background-color: var(--sidebar-bg-color);
  background-color: #fbf4e2;
  color: black;
  padding: 0.5rem;
}

.content_main {
  width: 100%;
  min-height: 100vh;
  border: 1px solid var(--border-color);
}

.main_slider {
  background-color: var(--sidebar-bg-color);
  color: var(--sidebar--color);
  padding: 0.5rem;
  min-height: 100vh;
  height: 100%;
  border-radius: 0 20px 0 0;

}

.sub_name {
  background-color: rgb(117, 103, 240);
  background-color: yellow;
  margin: 2px;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 10px;
}

.sub_name:hover {
  background-color: rgb(49, 0, 128);
  background-color: var(--item-hover-bg-color);
  color: rgb(137, 139, 233);
  border: 1px solid rgb(0, 255, 64);
}

.active {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.inactive {
  color: black;
  text-decoration: none;
}

.inactive:hover {
  color: black;
  transform: scale(1.3);
  text-decoration: none;
}

.mobile_sidebar {
  z-index: 4;
  width: 80%;
}

.mobile_slider {
  z-index: 4;
  width: 80%;
  background-color: rgb(49, 0, 128);
  color: rgb(137, 139, 233);
  position: fixed;
  top: 0;
  left: 0;
}

.backdrop {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.icon {
  display: none;
}

.sub_name:hover .icon {
  display: flex;
}

.child {
  background-color: black;
  min-height: 100vh;
}

/* brand component */
.mainbar {
  height: 2rem;
  background-color: #310080;
  background-color: #fbf4e2;
  color: var(--brand-color);
  color: black;
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}

.p {
  flex: 1;
}

@media (min-width: 950px) {
  .btn {
    display: none;
  }
}

@media (max-width: 950px) {
  .main_layout {
    display: block;
  }

  .side {
    display: none;
  }

  .content {
    display: block;
  }
}
