.dark_main_layout {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: 2px solid white;
  margin-top: 59px;

}

.dark_main_slider {
  background-color: var(--dark-bg-color);
  color: var(--dark-font-color);
  padding: 0.5rem;
  min-height: 100vh;
  height: 100%;
}

.dark_main_element {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.733);
  color: black;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin: 2px;
}

.dark_main_element:hover {
  background-color: black;
  color: white;
  border: 1px solid rgb(0, 255, 64);
}

.dark_content {
  flex: 0.80;
  min-height: 100vh;
  border: 1px solid var(--border-color);
  background-color: var(--dark-bg-color);
  color: var(--dark-font-color);
  padding: 0.5rem;
}

.dark_sub_name {
  background-color: #f4f0ec;
  color: black;
  margin: 2px;
  margin-left: 1rem;
  border-radius: 5px;
  padding: 10px;
}

.dark_sub_name:hover {
  background-color: black;
  color: white;
  border: 1px solid rgb(0, 255, 64);
}

.dark_mainbar {
  height: 2rem;
  background-color: var(--dark-bg-color);
  color: var(--dark-font-color);
  padding: 10px;
  margin: 0;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 39px;
  width: 100%;
  z-index: 5;
  border: 2px solid white;
}

/* mobile sidebar */

.dark_mobile_slider {
  z-index: 4;
  width: 80%;
  background-color: var(--dark-mobile-sidebar-bg-color);
  color: var(--dark-mobile-sidebar-color);
  position: fixed;
  top: 0;
  left: 0;
}


@media (min-width: 950px) {
  .btn {
    display: none;
  }
}

@media (max-width: 950px) {
  .dark_main_layout {
    display: block;
    border: 0;
  }

  .dark_side {
    display: none;
  }

  .dark_content {
    display: block;
  }
}